@model WMBA5.Models.Player

<figure class="row">
    <figcaption class="col mt-3"><h3 class="text-black"><text class="d-none d-sm-inline"></text>@Model.Summary - @Model.MemberID</h3></figcaption>
</figure>

<div>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status.StatusName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Status.StatusName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.JerseyNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.JerseyNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rating)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Team.TeamName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Team.TeamName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Division.DivisionName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Division.DivisionName)
                </dd>
            </dl>
        </div>
    </div>
</div>
