@model IEnumerable<WMBA5.Models.Score>
<figure class="row">
    <figcaption class="col mt-3"><h4><text class="d-none d-sm-inline">Player Score</text></h4></figcaption>
</figure>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Inning Number
                </th>
                <th>
                    Balls
                </th>
                <th>
                    Foul Balls
                </th>
                <th>
                    Strikes
                </th>
@*                 <th>
                    Outs
                </th> *@
                <th>
                    Runs
                </th>
                <th>
                    Hits
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inning.InningNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balls)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoulBalls)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Strikes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Outs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Runs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hits)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @* <partial name="_PagingNavBar" /> *@
</form>