@model IEnumerable<WMBA5.Models.Game>

@{
    WMBA5.Models.Player player = (WMBA5.Models.Player)ViewBag.Player;
    <partial name="_PlayerPartial" model="player" />
    ViewData["Title"] = ViewData["ControllerFriendlyName"];
}
<br/>
<hr/>
<figure class="row">
    <figcaption class="col mt-3"><h4><text class="d-none d-sm-inline">Games Played</text></h4></figcaption>
</figure>
<input hidden name="PlayerID" value="@player.ID" />
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

<table class="table"> 
    <thead>
        <tr>
            <th>
                    <input type="submit" name="actionButton" value="Game" class="btn btn-toolbar" />
            </th>
            <th>
                    <input type="submit" name="actionButton" value="Location" class="btn btn-link" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
           
            <td>
                         <a asp-controller="Game" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip">
                            Go to Game
                              </a>
                        <a asp-controller="PlayerStatScore" asp-action="Details" asp-route-PlayerID="@ViewBag.Player.ID " asp-route-GameID="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            &#x1F50E; <small>Details</small>
                        </a>
            </td>
        </tr>
}
    </tbody>  
</table> 

    @* <partial name="_PagingNavBar" /> *@
</form>
<div>
    <a asp-action="Edit" asp-controller="Player" asp-route-id="@player.ID">Edit @player.FullName</a> |
    <a href='@ViewData["returnURL"]'>Back to Player List</a>
</div>
