@model WMBA5.Models.Team

<figure class="row">
    <figcaption class="col mt-3"><h3><text class="d-none d-sm-inline"></text>@Model.TeamName</h3></figcaption>
</figure>

<div class="row">
    <div class="col-6">
        <dl class="row">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => Model.Coach)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => Model.Coach.CoachName)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => Model.Division)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => Model.Division.DivisionName)
            </dd>
        </dl>
    </div>
    
</div>

