@model IEnumerable<WMBA5.ViewModels.PlayerScoresStatsVM>

@{
    ViewData["Title"] = "Download Report";
}

<h1>Player Comparision</h1>
<a asp-action="PlayerComparisionDownload" class="btn btn-info float-end">Download Report</a>
<form asp-controller="Report" asp-action="PlayerComparisionView">
    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
        </button><br />
        <div class="@ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-7">
                        <label class="control-label">Select a player:</label>
                        @Html.DropDownList("PlayerID1", null, "No Player", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-7">
                        <label class="control-label">Select a player:</label>
                        @Html.DropDownList("PlayerID2", null, "No Player", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2 align-self-end">
                        <input type="submit" name="actionButton" value="Find" class="btn btn-outline-primary" />
                    </div>
                </div>
                <p class="alert-danger">@TempData["FeedBack"]</p>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Player ID
                </th>
                <th>
                    Runs
                </th>
                <th>
                    Strikes
                </th>
                <th>
                    RBI
                </th>
                <th>
                   Balls
                </th>
                <th>
                    Fouls
                </th>
                <th>
                    Runs
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalRuns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalStrikes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalRBI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalBalls)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalFoulBalls)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalRunsScored)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
