@model WMBA5.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />

    <form asp-action="Edit">
        <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label"></label>
                    <input asp-for="TeamName" class="form-control" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoachID" class="control-label"></label>
                    <select asp-for="CoachID" class="form-control" asp-items="ViewBag.CoachID"></select>
                    <span asp-validation-for="CoachID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DivisionID" class="control-label"></label>
                    <select asp-for="DivisionID" class="form-control" asp-items="ViewBag.DivisionID"></select>
                    <span asp-validation-for="DivisionID" class="text-danger"></span>
                </div>
        </div>
        <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label"> Players in Team </label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label"> Available Players </label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-10">
                    <div class="text-danger">@ViewData["Message"]</div>
                    <hr />
                    <input type="hidden" name="id" value="@ViewData["id"]" />
                    <input type="hidden" name="FullName" value="@ViewData["FullName"]" />
                    @* <div class="form-group">
                        <label for="Subject" class="control-label">Email Subject</label>
                        <input type="text" id="Subject" name="Subject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="emailContent" class="control-label">Message Content</label>
                        <textarea id="emailContent" name="emailContent" rows="5" cols="40" class="form-control"></textarea>
                    </div> *@
                </div>
            </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
}