@model IEnumerable<WMBA5.Models.Division>

<partial name="_ViewHeading" />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DivisionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th class="text-center" style="min-width:120px">
                    <a asp-action="Create" class="btn btn-sm btn-outline-success"
                       role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
                        <strong>&#x270D; Create</strong>
                    </a>
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.ClubName)
            </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                       role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                        &#x270E;
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                       role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                        &#x1F50E;
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                       role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                        &#x274C;
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}
