@model IEnumerable<WMBA5.Models.Score>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoulBalls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strikes)
            </th>
<<<<<<< HEAD
            <th>
                @Html.DisplayNameFor(model => model.Outs)
            </th>
=======
@*             <th>
                @Html.DisplayNameFor(model => model.Out)
            </th> *@
>>>>>>> 4ee881017d20b5e21bfcbc5d2a1a73ac57237503
            <th>
                @Html.DisplayNameFor(model => model.Runs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoulBalls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strikes)
            </td>
<<<<<<< HEAD
            <td>
                @Html.DisplayFor(modelItem => item.Outs)
            </td>
=======
@*             <td>
                @Html.DisplayFor(modelItem => item.Out)
            </td> *@
>>>>>>> 4ee881017d20b5e21bfcbc5d2a1a73ac57237503
            <td>
                @Html.DisplayFor(modelItem => item.Runs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
