@model WMBA5.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.DivisionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Outcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Outcome.OutcomeString)
        </dd>
    </dl>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Home Lineup: @Model.HomeTeam.TeamName
                </th>
                <th>
                    Away Lineup: @Model.AwayTeam.TeamName
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
        <tbody>
            <tr>
                <td>
                            @foreach (var item in Model.GamePlayers
                    .Where(gp => gp.TeamLineup == TeamLineup.Home)
                    .OrderBy(o => o.BattingOrder).ThenBy(p => p.Player.FullName))
                            {
                                @item.BattingOrder @:- @item.Player.Summary <br />
                            }
                    <a asp-action="EditLineup" class="btn btn-primary"
                       asp-route-Lineup="Home" asp-route-id="@Model?.ID">Edit Home Lineup</a>
                </td>
                <td>
                            @foreach (var item in Model.GamePlayers
                    .Where(gp => gp.TeamLineup == TeamLineup.Away)
                    .OrderBy(o => o.BattingOrder).ThenBy(p => p.Player.FullName))
                            {
                                @item.BattingOrder @:- @item.Player.Summary <br />
                            }
                    <a asp-action="EditLineup" class="btn btn-success"
                       asp-route-Lineup="Away" asp-route-id="@Model?.ID">Edit Away Lineup</a>
                </td>
            </tr>
        </tbody>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
