@model WMBA5.Models.Game

@{
    ViewData["Title"] = "Edit Lineup";
}

<link rel="stylesheet" href="css/Layout.css">
<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <div style="margin-right: 10px;">
            <h2>Edit @ViewData["Lineup"] Lineup</h2>
        </div>
        <button type="button" class="btn btn-info help-btn" id="helpBtn" data-bs-toggle="popover" data-bs-placement="right"
                data-bs-content="<p>1- In the &quot;Edit Home Lineup&quot; page , you can make changes to the home team lineup.</p>
                       <p>2- If you want to remove players from the lineup , select the players from the &quot;lineup&quot; listbox and click &quot;Remove&quot; button.</p>
                       <p>3- If you want to add players in the lineup , select the players from the &quot;Other Players&quot; listbox and click &quot;Add&quot; button.</p>
                       <p>4- You can also re-arrange the batting order simply just by selecting the player and clicking &quot;up&quot; or &quot;down&quot; button.</p>"
                data-bs-html="true">
            ?
        </button>
    </div>
</div>

<hr />
<form id="editLineupForm" asp-action="EditLineup" method="post" onsubmit="return checkPlayerCount()">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" name="Lineup" value="@ViewData["Lineup"]" />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomeTeam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HomeTeam.TeamName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AwayTeam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AwayTeam.TeamName)
            </dd>
        </dl>
        <hr />
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1 text-center btn-order-lineup">
                    <label class="control-label">Order</label>
                    <button type="button" style="width:60px; padding: 5px" id="btnUp" class="btn btn-info">
                        <strong>Up</strong>
                    </button>
                    <button type="button" style="width:60px; padding: 5px" id="btnDown" class="btn btn-warning">
                        <strong>Down</strong>
                    </button>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label"> Lineup</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong> Remove </strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                    <br />
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Save Lineup" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label"> Other Players</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong> Add </strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Details" asp-route-id="@Model.ID">Back to Game Details</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
    <script>
        function checkPlayerCount() {
            var selectedPlayersCount = $('#selectedOptions option').length;
            if (selectedPlayersCount < 8) {
                return confirm("There are less than 8 players in the lineup. Do you want to proceed?");
            }
            return true; // If player count is 8 or more, proceed with saving
        }

        // Initialize popover with trigger set to 'hover'
        var popoverTriggerListHover = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverListHover = popoverTriggerListHover.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {
                trigger: 'hover' // Show popover on hover
            });
        });

        // Initialize popover with trigger set to 'click'
        var popoverTriggerListClick = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverListClick = popoverTriggerListClick.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {
                trigger: 'click' // Show popover on click
            });
        });
    </script>
}
