@model IEnumerable<WMBA5.Models.Game>

@{
    ViewData["Title"] = "Games Index";
}

<partial name="_ViewHeading" />
<hr />
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button><br />
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    Filter By:
                    <div class="form-group col-md-2">
                        <label class="control-label">Home Team:</label>
                        @Html.DropDownList("HomeTeamID", null, "All Teams", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Away Team:</label>
                        @Html.DropDownList("AwayTeamID", null, "All Teams", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Location:</label>
                        @Html.DropDownList("LocationID", null, "All Locations", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Outcome:</label>
                        @Html.DropDownList("OutcomeID", null, "All Outcomes", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Division:</label>
                        @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 align-self-end">
                        <input type="submit" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" value="Start Time" class="btn btn-toolbar" />
                </th>
                <th>
                    <input type="submit" @* name="actionButton" *@ value="Home Team" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Away Team" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Location" class="btn btn-link" />
                </th>
                @* <th>
                <input type="submit" name="actionButton" value="Oponent" class="btn btn-link" />
                </th> *@
                @* <th>
                @Html.DisplayNameFor(model => model.PlayingAt)
                </th> *@
                <th>
                    <input type="submit" value="Outcome" class="btn btn-toolbar" />

                </th>
                <th>
                    <input type="submit" value="Division" class="btn btn-toolbar" />
                </th>
                @*    <th>
                @Html.DisplayNameFor(model => model.LineupID)
                </th> *@
                <th style="min-width:120px">
                    <a asp-action="Create" class="btn btn-sm btn-outline-success"
                       role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
                        <strong>&#x270D; <small>Create New</small></strong>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    @*        <td>
                @Html.DisplayFor(modelItem => item.Oponent)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PlayingAt)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Outcome.OutcomeString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division.DivisionName)
                    </td>
                    @*             <td>
                @Html.DisplayFor(modelItem => item.LineupID)
                </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            &#x270E; <small>Edit</small>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            &#x1F50E; <small>Details</small>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                            &#x274C; <small>Delete</small>
                        </a>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</form>
