@model WMBA5.Models.Game

@{
    ViewData["Title"] = "Record Game";
}
@* <partial name="_ViewHeading" /> *@
<h2>@Html.DisplayFor(model => model.HomeTeam.TeamName) vs @Html.DisplayFor(model => model.AwayTeam.TeamName)</h2>
<hr />
<div>

    
    
    <button id="btnHit" name="btnHit">Hit</button>
    <button id="btnHR" name="btnHR">HomeRun</button>

    <label id="lblBall" for="btnBall">Balls: </label>
    <button id="btnBall" name="btnBall">+</button>

    <label id="lblStrike" for="btnStrike">Strikes: </label>
    <button id="btnStrike" name="btnStrike">+</button>

    <label id="lblOut"for="btnOut">Outs: </label>
    <button id="btnOut" name="btnOut">+</button>
    <br />
    <table>
        <tr class="col-sm-4">
            <td>
                @foreach (var item in Model.GamePlayers
                .Where(gp => gp.TeamLineup == TeamLineup.Home)
                .OrderBy(o => o.Player.LastName))
                {
                    @item.Player.FullName <br />
                }
            </td>
        </tr>
        <tr class="col-sm-4">
            <h3>Inings</h3>
            <td>
                @foreach (var item in Model.Innings
                .OrderBy(o => o.InningNo))
                {
                    @item.Scores <br />
                }
            </td>
        </tr>
    </table>
    
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.HomeTeam.Players)
    </dd>

    
    <p id="pPlayer">@Html.DisplayFor(model => model.HomeTeam.Players)</p>
    <br />
    
    <br />
    <label id="lblTotal">Total:</label>
    <br />
    <button id="btnCancel"name="btnCancel">Cancel</button>

    

</div>
